.main-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.box-shadow-generator{
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px 10px 50px 10px;
}
.controls{
  width: 30rem;
}
input[type="range"] {
  height: 15px;
  border: 2px solid #fff;
  border-radius: 10px;
  margin: auto;
  cursor: pointer;
  width: 100%;
 
}
.color-picker{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hex-value-box{
  margin-left: 10px;
  width: 8rem;
}
.output-wrapper{
  width: 35rem;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.result{
  /* margin-top: 5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.output{
  width: 25rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyBtn{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.code{
  margin-top: 110px;
  background:rgb(114, 112, 112,0.2);
  padding: 15px;
  border-radius: 10px;
  width: 30rem;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  padding: 20px;
  border-top: 1px solid rgba(0,0,0,0.2);
}
@media screen and (max-width: 800px){
  .box-shadow-generator{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  .controls{
    width: 90vw;
  }
  .output-wrapper{
    width: 93vw;
    height: 55vh;
  }
  .output{
    width: 65vw;
    height: 25vh;
  }
  .result{
    margin-top: 20px;
  }
  .code{
    width: 85vw;
  }
}